#VC {
  width: 100vw;
  position: fixed;
  border-bottom: 2px solid green;
  text-align: center;
}

#videos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 10px;
}

video {
  max-width: 100%;
  width: 220px;
}
