#alert {
    position: fixed;
    z-index: 9;
    right: 0%;
    top: 0%;
    width: fit-content;
    background: #4444;
    text-align: center;
    display: flex;
    justify-content: center;
}

#alert.error > div {
    background: darkblue;
    color: lightblue;
    min-width: 25vw;
    padding: 15px 30px;
    border-radius: 3px;
}
