#signup {
  height: 90vh;
  border: 2px solid gray;
}

#signup form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

#signup h2 {
  color: aliceblue;
  padding: 20px;
}

#signup form input {
  padding: 10px;
  margin: 5px;
  outline: none;
  width: 45%;
}
